input {
    padding: .65rem;
    width: 100%;
    border-radius: 5px;
    background-color: var(--input-bg);
    border: 2px solid transparent;
    color: var(--surface-text);
    transition: border-color .2s ease;
}

input:focus {
    border-color: var(--primary-color);
    outline: none;
}

label {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
}
