#root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app__page {
  flex: 1;
  min-width: 0;
  min-height: 0;
  overflow: auto;
  /* padding: 2rem; */
}
